html, body {
	height: 100%;
}
.clickable {
	cursor: pointer;
}
.curton {
	display: block;
	height: 100%;
	width: 100%;

	background-color: black;
	opacity:0.5;
}

.spin {
	position: fixed;
	top: 50%;
	left: 50%;
}

body {
}

#navigator {
	float: left;
	height: 100%;
	width: 140px;
}

#editor {
	float: right;
	height: 100%;
	display: block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 140px;

}

.scroller {
	height: 100%;
	overflow: hidden;
}

.scroller-controls {
	display: block;
	width: 100%;
	height: 40px;
}

.scroll-contents {
	color: white;
}

.scrollerButton {
	width: 40px;
	height: 40px;
}

.prevButton {
	background-image: url( '../img/prevArrow.png' );
	float: left;
}

.nextButton {
	background-image: url( '../img/nextArrow.png' );
	float: left;
}

.newButton {
	background-image: url( '../img/newPage.png' );
	float: right;
}

.scroll-contents a {
	display: block;
	height: 80px;
	width: 100px;
	text-align: center;
	text-height: 80px;
	box-shadow: inset 0px 0px 9px #888;
	margin: 20px;
	padding: 10px;
}
.scroll-contents div {
	height: 100%;
	text-height: 100%;
	overflow: hidden;
}
